data/blueprint.json
{
    "name": "Send video to TGbot -> Publish on Insta, TG, YouTube",
    "flow": [
        {
            "id": 18,
            "module": "telegram:WatchUpdates",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 862774
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300,
                    "name": "Bot read messeges"
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Test"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:telegramapi",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "telegram:DownloadFile",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2601915
            },
            "mapper": {
                "fileId": "{{18.message.attachment.file_id}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300,
                    "name": "Download file by id"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "telegram"
                            },
                            "label": "Test connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:telegram",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "fileId",
                        "type": "text",
                        "label": "File ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 17,
            "module": "google-drive:uploadAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 2605247
            },
            "mapper": {
                "data": "{{16.fileOutput}}",
                "select": "value",
                "convert": false,
                "filename": "{{16.fileName}}",
                "folderId": "/1MU1xkWXx0To_0aYSODcwWdnTfBvqrEAw",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 300,
                    "name": "Making the link for Uploading"
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Select from the list"
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "shared"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection (zadvornov66@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Folder ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "New File Name"
                    },
                    {
                        "name": "filename",
                        "type": "text",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "convert",
                        "type": "boolean",
                        "label": "Convert a File",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Folder Location",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 300
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "instagram-business:CreateAReelPost",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2603852
                            },
                            "mapper": {
                                "accountId": "17841468861197208",
                                "video_url": "{{17.webContentLink}}",
                                "share_to_feed": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0,
                                    "name": "Publish on Insta"
                                },
                                "restore": {
                                    "expect": {
                                        "accountId": {
                                            "mode": "chose",
                                            "label": "AI Avatars (@ai_avatars_test)"
                                        },
                                        "share_to_feed": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "facebook"
                                            },
                                            "label": "My Facebook connection (AI Avatars)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:facebook",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "accountId",
                                        "type": "select",
                                        "label": "Page",
                                        "required": true
                                    },
                                    {
                                        "name": "video_url",
                                        "type": "url",
                                        "label": "Video URL",
                                        "required": true
                                    },
                                    {
                                        "name": "caption",
                                        "type": "text",
                                        "label": "Caption"
                                    },
                                    {
                                        "name": "thumb_offset",
                                        "type": "number",
                                        "label": "Cover Frame"
                                    },
                                    {
                                        "name": "location_id",
                                        "type": "text",
                                        "label": "Location ID"
                                    },
                                    {
                                        "name": "share_to_feed",
                                        "type": "boolean",
                                        "label": "Share to Feed",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "telegram:SendVideo",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2601915
                            },
                            "mapper": {
                                "width": "",
                                "chatId": "@test_1adasdasd",
                                "fileId": "{{18.message.attachment.file_id}}",
                                "height": "",
                                "caption": "",
                                "duration": "",
                                "sendType": "send_byid",
                                "parseMode": "",
                                "contentType": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300,
                                    "name": "Publish on TG"
                                },
                                "restore": {
                                    "expect": {
                                        "sendType": {
                                            "label": "File ID"
                                        },
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "contentType": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "Test connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "caption",
                                        "type": "text",
                                        "label": "Caption"
                                    },
                                    {
                                        "name": "sendType",
                                        "type": "select",
                                        "label": "Send by",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "send_bydata",
                                                "send_byurl",
                                                "send_byid"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content Type"
                                    },
                                    {
                                        "name": "duration",
                                        "type": "number",
                                        "label": "Duration"
                                    },
                                    {
                                        "name": "width",
                                        "type": "number",
                                        "label": "Width"
                                    },
                                    {
                                        "name": "height",
                                        "type": "number",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "fileId",
                                        "type": "text",
                                        "label": "File ID",
                                        "required": true
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 20,
                            "module": "youtube:uploadVideo",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 2607672
                            },
                            "mapper": {
                                "data": "{{16.fileOutput}}",
                                "title": "{{18.message.attachment.file_name}}",
                                "fileName": "{{16.fileName}}",
                                "categoryId": "28",
                                "privacyStatus": "public",
                                "selfDeclaredMadeForKids": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 600,
                                    "name": "Publish on YouTube"
                                },
                                "restore": {
                                    "expect": {
                                        "tags": {
                                            "mode": "chose"
                                        },
                                        "license": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "categoryId": {
                                            "mode": "chose",
                                            "label": "Science & Technology"
                                        },
                                        "embeddable": {
                                            "mode": "chose"
                                        },
                                        "privacyStatus": {
                                            "mode": "chose",
                                            "label": "Public"
                                        },
                                        "notifySubscribers": {
                                            "mode": "chose"
                                        },
                                        "selfDeclaredMadeForKids": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "youtube"
                                            },
                                            "label": "My YouTube connection (Egor game <zadvornov66@gmail.com>)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:youtube",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title",
                                        "required": true,
                                        "validate": {
                                            "max": 100
                                        }
                                    },
                                    {
                                        "name": "fileName",
                                        "type": "filename",
                                        "label": "File Name",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "categoryId",
                                        "type": "select",
                                        "label": "Video Category",
                                        "required": true
                                    },
                                    {
                                        "name": "privacyStatus",
                                        "type": "select",
                                        "label": "Privacy Status",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "private",
                                                "unlisted",
                                                "public"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description",
                                        "validate": {
                                            "max": 5000
                                        }
                                    },
                                    {
                                        "name": "selfDeclaredMadeForKids",
                                        "type": "boolean",
                                        "label": "The video is made for kids",
                                        "required": true
                                    },
                                    {
                                        "name": "tags",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Tag",
                                            "required": true,
                                            "validate": {
                                                "max": 500
                                            }
                                        },
                                        "type": "array",
                                        "label": "Tags"
                                    },
                                    {
                                        "name": "recordingDate",
                                        "type": "date",
                                        "label": "Recording Date"
                                    },
                                    {
                                        "name": "license",
                                        "type": "select",
                                        "label": "License",
                                        "validate": {
                                            "enum": [
                                                "youtube",
                                                "creativeCommon"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "embeddable",
                                        "type": "boolean",
                                        "label": "Allow Embedding"
                                    },
                                    {
                                        "name": "notifySubscribers",
                                        "type": "boolean",
                                        "label": "Notify Subscribers"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}